* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background-color: black;
  border-radius: 50px;
  color: white;
  height: 52rem;
  width: 31rem;
  padding: 1.25rem;
  position: relative;
}

.display {
  height: 15rem;
  width: 100%;
  text-align: right;
  padding: 1.25;
  font-size: 6.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid red;
}

.previous-display {
  opacity: 0.5;
  font-size: 3rem;
  overflow: hidden;
}

.buttons-container {
  display: grid;
  grid-gap: 0.625rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.button {
  align-items: center;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-size: 3rem;
  height: 6.25rem;
  width: 6.25rem;
  justify-content: center;
  transition: filter 0.3s;
}

.function {
  color: black;
  background: #a5a5a5;
}

.operator {
  background: #f1a33c;
}

.button.number-0 {
  grid-column: 1 / span 2;
  justify-content: flex-start;
  padding-left: 43px;
  width: 215px;
  border-radius: 55px;
}

.button:active,
.button:focus {
  filter: brightness(120%);
}

.button:hover {
  opacity: 0.5;
}
